h1 {
  font-size: 5em;
  color: red;
  text-align: center;
  font-family: serif;
}
h2{
  font-size: 3em;
  color: white;
  background-color: DodgerBlue;
}
p {
  color: red;
  font-family: sans-serif;
}
li {
  color: DodgerBlue;
  font-size: 1.5em;
  font-family: sans-serif;
}
