h1 {
  font-size: 5em;
  color: red;
  text-align: center;
  font-family: serif;
}
h2{
  font-size: 1.5em;
  color: white;
  background-color: DodgerBlue;
}
h3{
  background-color: Tomato;
  color: white;
  font-size: 1.5em;
}
p {
  color: red;
  font-family: sans-serif;
}
br {
  background-color: Tomato;
}
